$primary-color: #37447E;
$main-blue: #505F98;
$title-color: #091133;
$main-button-color: #111B47;
$regular-weight: 400;
$medium-weight: 500;
$black-weight: 900;
$boxed-with: 1110px;
$header-height: 60px;
$footer-height: 216px;