.heroBackground {
    position: absolute;
    top: 0;
    width: 1490px;
    height: 1161px;
    z-index: -1;
    background-image: url('../../../public/hero-bg.png');
    background-size: 1490px 1161px;
    background-position: 252.29px -49px;
    background-repeat: no-repeat;
}