@import '../../styles/globals.scss';

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    max-width: $boxed-with;
    min-height: 1003px;
    padding: 243px 0;

    & button {
        margin-right: 30px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 69px;
}

